*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:after, :before {
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.5; /*21px / 14px*/
    color: rgba(0, 0, 0, 0.86);
}

ul{
    list-style: none;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.57142857; /*22px / 14px*/
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem; /*32px / 16*/
    line-height: 1.1875; /*38px / 32px*/
    color: #232040;
}

.btn{
    /* min-width: 230px; */
    background: #4F478F;
    border: 1px solid #4D4680;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 6px;
    min-width: max-content;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.333333333; /*24px / 18px*/
    color: #FFFFFF;

    transition: all 0.5s linear;
}

.btn:hover,
.btn:focus,
.btn:active{
    background: #332E5C;
    border: 1px solid #332E5C;
}

.border-img{
    height: 1px;
    background: linear-gradient(90deg, #4D4680 0.18%, #786CD9 26.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
    border-radius: 4px;
}

.input{
    width: 373px;
    height: 40px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.428571; /*20px / 14px*/
}

.label{
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125em; /*13px / 16*/
    line-height: 1.5384615; /*20px / 13px*/
    color: rgba(0, 0, 0, 0.5);
}


/*Header styles start*/
.header{
    filter: drop-shadow(0px -6.45766px 14.5297px rgba(0, 0, 0, 0.13)) drop-shadow(0px -1.21081px 3.63243px rgba(0, 0, 0, 0.11));
}

.header__layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 17px;
}

.header__wrap{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 21px;
}

.routs{
    display: flex;
    align-items: center;
}

.routs__wrap{
    position: relative;
}

.routs__wrap:not(:last-child){
    margin-right: 24px;
}

.routs__list-btn{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.57142857; /*22px / 14px*/
    color: rgba(0, 0, 0, 0.86);
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.routs__list-btn:focus{
    color: #4F478F;
}

.routs__list-btn:focus svg{
    transform: rotate(180deg);
}

.arrow-down:focus{
    fill: #4F478F;
}

.routs__list{
    min-width: 250px;
    position: absolute;
    background-color: #FFFFFF;
    margin-top: 10px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transform: rotateY(-10px);
    transition: all 0.5s ease;
}

.routs__item{
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

.routs__item:hover{
    background-color: rgba(79, 71, 143, 0.2);
    
}
.routs__item:hover:last-child{
    border-radius: 0px 0px 8px 8px;
}

.routs__list-btn:focus + .routs__list{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0deg);
}

.routs__link{
    color: rgba(0, 0, 0, 0.86);
}

.header__btn{
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    font-weight: 500;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.57142857; /*22px / 14px*/
    padding: 6px 8px;
    margin-right: 27px;
}

.lang__select{
    width: 50px;
    outline: none;
    border: none;
    appearance: none;
    background: url(../assets/fluent_arrow-previous-20-regular.svg) no-repeat;
    background-position: right;
    cursor: pointer;
}

.lang__select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    .lang__select{
        background: none;
    }
}

.header__border-img{
    height: 1px;
    background: #E0E0E0;
}

.menu{
    padding: 10px 0;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu__list-link:hover{
    color: #4F478F;
    border-bottom: 1px solid #786CD9;
}
/*Header styles end*/

/*Main styles start*/
.main{
    margin-bottom: 120px;
}

/*Hero styles start*/
.hero{
    background: url(../assets/college.jpg) no-repeat;
    background-color: #232040;
    background-position: center right;
    background-size: contain;
}

.hero__inner{
    padding: 104px 0 87px;
}

.hero__info{
    max-width: 450px;
}

.hero__title{
    font-weight: 700;
    font-size: 2.125rem; /*34px / 16*/
    line-height: 124%; /*42px  or 124% */
    color: #FFFFFF;
    margin-bottom: 57px;
}

.hero__border-img:not(:last-child){
    margin-bottom: 23px;
}

.hero__info-wrap{
    display: flex;
    margin-bottom: 24px;
}

.hero__info-img{
    width: 223px;
    height: 120px;
    border-radius: 8px;
    margin-right: 24px;
}

.hero__info-text{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.86);
}

.hero__info-link{
    display: flex;
    align-items: center;
}

.hero__link-img{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.hero__link-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em; /*16px / 16*/
    line-height: 1.5; /*24px / 16px*/
    color: #FFFFFF;
}

.hero__link-text:hover{
    color: #786CD9;
}

.hero__img {
}
/*Hero styles end*/

/*Programs styles start*/
.programs{
    background: #F2F5F9;
    margin-bottom: 80px;
}

.programs__inner{
    padding: 76px 0 63px;
}

.programs__title{
    font-weight: 700;
    font-size: 2.5em; /*40px / 16*/
    line-height: 1.2; /*48px / 40px*/
    margin-bottom: 42px;
}

.programs__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.program__card{
    max-width: 572px;
    box-shadow: 0px 2px 12px rgba(10, 30, 52, 0.08);
    border-radius: 8px;
}

.program__card-nursing{
    background: url(../assets/Illustration_nurse.png) no-repeat;
    background-position: right bottom;
    background-color: #FFFFFF;
}

.program__card-pharmacy{
    background: url(../assets/Illustration_pharmacy.png) no-repeat;
    background-position: right bottom;
    background-color: #FFFFFF;
}

.program__card-inner{
    padding: 32px 32px 40px 32px;
}

.program__table--mobile{
    display: none;
}

.program__table{
    margin-bottom: 40px;
}

.program__table-title{
    font-size: 1.5em; /*24px / 16*/
    line-height: 1.58333333333; /*38px / 24px*/
    text-align: left;
    margin-bottom: 8px;
}

.program__table-head{
    font-weight: 600;
    font-size: 0.75em; /*12px / 16*/
    line-height: 2; /*24px / 12px*/
    opacity: 0.6;
    text-align: left;
}
.program__table-row {
}

.program__table-column{
    vertical-align: top;
}

.program__table-column:first-of-type{
    width: 267px;
}

.program__card-btn{
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 1em; /*16px / 16*/
    line-height: 1.5; /*24px / 16px*/
    color: #4D4680;
    padding: 8px 24px;
    border-radius: 8px;
    background: none;
    border: 2px solid #4D4680;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: all 0.4s ease;
    /* background-clip: padding-box;
    border: solid 2px transparent;
    position: relative;
    margin: auto; */
}

.program__card-btn:hover{
    background-color: #4D4680;
    color: #FFFFFF;
}

/* .program__card-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, #4D4680 0%, #786CD9 30%, #D2CEF2 50.52%, #786CD9 70%, #4D4680 100%);
} */
/*Programs styles end*/

/*Info styles start*/
.info{
    margin-bottom: 120px;
}

.info__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.85);
}

.info__card{
    max-width: 373px;
    width: 100%;
    height: 578px;
    padding: 24px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(112, 112, 112, 0) 36.98%, #161429 100%), url(.jpg), #C4C4C4; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info__card:nth-child(1){
    background-image: url(../assets/pay-card.jpg);
}

.info__card:nth-child(2){
    background-image: url(../assets/timetable-card.jpg);
}

.info__card:nth-child(3){
    background-image: url(../assets/library-card.jpg);
}

.info__card-title{
    font-weight: 700;
    line-height: 0.75; /*24px / 32px*/
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 8px;
}

.info__card-desc{
    font-weight: 300;
    font-size: 1em; /*16px / 16*/
    line-height: 1.5; /*24px / 16px*/
    margin-bottom: 24px;
}

.info__card-link{
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 1em; /*16px / 16*/
    line-height: 1.5; /*24px / 16px*/
    color: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
}

.info__card-link:hover{
    color: rgba(255, 255, 255, 0.72);
}

.info__card-link i{
    margin-left: 16px;
}
/*Info styles end*/

/*Slider styles start*/
.slider{
    padding-bottom: 30px;
    margin-bottom: 120px;
}

.slider__carousel{
    display: none;
}  

.slider__items{
    background: url(../assets/slider-img1.jpg) no-repeat;
    background-position: top left;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
}

.slider__img{
    width: 764px;
    height: 507px;
    border-radius: 12px;
}

.slider__item{
    max-width: 652px;
}

.slider__pagination{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    padding-top: 29px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__pagination--active{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}

.slider__control{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
}

.slider__info{
    max-width: 652px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px 2px rgba(37, 51, 66, 0.12);
    filter: drop-shadow(0px 2px 12px rgba(10, 30, 52, 0.08));
    border-radius: 12px;
    padding: 48px;
}

.slider__title{
    font-size: 1.75em; /*28px / 16*/
    line-height: 1.42857142; /*40px / 28px*/
    margin-bottom: 16px;
}

.slider__desc{
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.833333333; /*33px / 18px*/
    margin-bottom: 24px;
}

.slider__btn{
    padding: 20px 56.5px;
}
/*Slider styles end*/

/*Tour styles start*/
.tour{
    margin-bottom: 120px;
}

.tour__inner{
    display: flex;
    justify-content: space-between;
}

.tour__info{
    background: #F2F5F9;
    border-radius: 8px 0 0 8px;
    padding: 32px; /*32px / 585px*/
}

.tour__title{
    margin-bottom: 16px;
}

.tour__desc{
    font-weight: 300;
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.5; /*27px / 18px*/
    margin-bottom: 52px;
}

.tour__info-link{
    display: flex;
    align-items: center;
}

.tour__link-img{
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.tour__link-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125em; /*18px / 16*/
    line-height: 133%;/* 24px or 133% */
    color: #4F478F;
}

.tour__link-text:hover{
    color: #786CD9;
}
.tour__img {
}
/*Tour styles end*/

/*News styles start*/
.news{
    margin-bottom: 120px;
}

.news__title{
    text-align: center;
    font-weight: 700;
    font-size: 2.5em; /*40px / 16*/
    line-height: 1.2; /*48px / 40px*/
    margin-bottom: 48px;
}

.news__articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 40px;
    margin-bottom: 48px;
}

.news__article{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.news__article-img{
    max-width: 373px;
    width: 100%;
    height: 222px;
}

.news__article-info{
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 32px;
}

.news__article-title{
    font-size: 1.5em; /*24px / 16*/
    line-height: 133%;/* 32px or 133% */
    color: rgba(0, 0, 0, 0.86);
    margin-bottom: 16px;
}

.news__article-desc{
    margin-bottom: 24px;
}

.news__article-link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1em; /*16px / 16*/
    line-height: 150%;/* 24px or 150% */
    color: #4D4680;
    display: flex;
    align-items: center;
}

.news__article-link:hover{
    color: #786CD9;
}

.news__article-link i{
    margin-left: 22px;
}

.news__btn{
    justify-self: center;
    grid-column: 2;
    padding: 20px 40px;
}

.news__inner{
    padding: 64px 0 0;
}

.news__title-main{
    margin-bottom: 32px;
}

.news__articles-main{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-bottom: 88px;
}

.news__article-main{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.news__article-img-main{
    width: 572px;
    height: 348px;
}

.news__article-info-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 40px 32px;
}
/*News styles end*/

/*Pagination styles start*/
.pagination{
    display: flex;
    justify-content: center;
}

.pagination__list{
    display: flex;
}
.page__item{
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #E5E5E5;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__item:not(:last-child){
    margin-right: 8px;
}

.page__item--disabled{
    background: #E5E5E5;
}

.page__item--active{
    background: #4F478F;
}

.page__link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 134.77%;
    color: #4F478F;
    display: flex;
}

.page__link--active{
    color: #FFFFFF;
}
/*Pagination styles end*/

/*Consultation styles start*/
.consultation{

}

.consultation__info{
    background: #F2F5F9;
    border-radius: 8px 8px 0 0;
    padding: 32px 40px 90px;
}

.consultation__info-title{
    color: #3D3866;
    margin-bottom: 72px;
    text-align: center;
}
.consultation__info-cards{
    /* background: url(../assets/consultation-steps.png) no-repeat;
    background-position: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.consultation__info-cards::before{
    content: url(../assets/consultation-steps.png);
    position: absolute;
    top: 30px;
    left: 90px;
}

.consultation__info-card{   
    width: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.consultation__card-img{
    width: 104px;
    height: 104px;
    margin-bottom: 32px;
}

.consultation__card-title{
    font-size: 1.5em; /*24px / 16*/
    line-height: 1.3333333333333; /*32px / 24px*/
    color: rgba(0, 0, 0, 0.85);
}

.consultation__form-inner{
    background: linear-gradient(0deg, #7CACB3, #7CACB3), #786CD9;
    border-radius: 0 0 8px 8px;
    padding: 3.418803418803419% 46px 6.153846153846154%;
}

.consultation__form-title{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
}

.consultation__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.consultation__form-input{
    min-width: 250px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 21px 24px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.57142857; /*22px / 14px*/
    color: rgba(0, 0, 0, 0.5);
    margin-right: 24px;
}

.consultation__form-btn{
    padding: 20px 30px;
}
/*Consultation styles end*/
/*Main styles end*/

/*Footer styles start*/
.footer{
    background: #232040;
    color: #FFFFFF;
}

.footer__inner{
    padding: 57px 40px;
}

.footer__menu{
    margin-bottom: 24px;
}

.footer__menu-list{
    font-size: 1em; /*16px / 16*/
    line-height: 1.5;/* 24px / 16px*/
}

.footer__menu-link:hover{
    color: rgba(255, 255, 255, 0.72);
    border-bottom: 1px solid rgba(255, 255, 255, 0.72);
}

.footer__border-img:first-of-type{
    margin-bottom: 32px;
}
.footer__border-img:not(:first-of-type){
    margin-bottom: 24px;
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer__content {
}

.footer__content-list{
    line-height: 24px;
}

.footer__content-link{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.72);
}

.footer__content-link:hover{
    color: #FFFFFF;
}

.footer__contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 40px;
}

.address{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.111111111111; /*20px / 18px*/
}

.address:first-of-type{
    margin-bottom: 24px;
}

.address:last-of-type{
    grid-row: 2;
}

.phones{
    padding-top: 24px;
}

.phone:not(:last-child){
    margin-right: 40px;
}

.footer__socials{
    justify-self: right;
    align-self: end;
    grid-row: 1 / 3;
}

.footer__social-list{
    display: flex;
}
.footer__social-item:not(:last-child){
    margin-right: 16px;
}

.footer__social-img{
    transition: all 0.4s ease;
}
.footer__social-img:hover{
    transform: translateY(-10px);
}
.copyright{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75em; /*12px / 16*/
    line-height: 1.3333333333; /*16px / 12px*/
    color: rgba(255, 255, 255, 0.72);
}
/*Footer styles end*/

/*Modal form styles start*/
dialog::backdrop{
    background: rgba(9, 3, 19, 0.65);
    /* backdrop-filter: blur(3px); */
}

.modal{
    position: fixed;
    top: 192px;
    left: 50%;
    transform: translateX(-50%);
}

.modal__holder{
    max-width: 572px;
    width: 100%;
    background: url(../assets/illustration_cross.png) no-repeat;
    background-position: left top;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 40px 17.482517482517483% 48px; /*100px / 572px*/
    position: relative;
}

.modal__title{
    text-align: center;
    margin-bottom: 24px;
}

.modal__close{
    border: none;
    background: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.modal__entry{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.875em; /*14px / 16*/
    line-height: 140.62%;
    text-align: right;
    margin-bottom: 24px;
}

.modal__entry-link{
    font-weight: 500;
    color: #4F478F;
}

.modal__input{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #C4C4C4;
    margin-bottom: 24px;
}

.modal__label{
    font-family: 'Open Sans', sans-serif;
}

.modal__input-wrap{
    margin-bottom: 24px;
}

.email{
}
.password{
    margin-bottom: 32px;
}

.modal__btn{
    width: 100%;
    padding: 20px;
}
/*Modal form styles end*/

/*Timetable page styles start*/
.timetable{

}

.timetable__inner{
    padding-top: 48px;
}

.timetable__title{
    font-weight: 700;
    font-size: 2.5em; /*40px / 16*/
    line-height: 1.2; /*48px / 40px*/
    margin-bottom: 32px;
    text-align: center;
}

.timetable__course:not(:last-child){
    margin-bottom: 48px;
}

.course__header{
    background: #4F478F;
    border-radius: 8px 8px 0px 0px;
    padding: 12px 0;
}

.course__title{
    font-size: 1.125em; /*18px / 16*/
    line-height: 134.77%;
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
}

.timetable__wrap{
    padding: 0 24px;
}

.timetable__accordion{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 0px 0px 8px 8px;
}

.accordion__item:not(:first-child){
    border-top: 1px solid #D9D9D9;
}

.accordion__header{
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.accordion__button{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1em; /*16px / 16*/
    line-height: 1.375; /*22px / 16px*/
    color: rgba(0, 0, 0, 0.86);
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.accordion__button svg{
    margin-right: 12px;
}

.accordion__link{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.57142857; /*22px / 14px*/
    color: rgba(0, 0, 0, 0.86);
    display: flex;
    align-items: center;
}

.accordion__img{
    padding-left: 8px;
}

.accordion__body{
    margin: 16px 0 48px;
}

.timetable__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.timetable__calendar{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.calendar__img{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.calendar__date{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.57142857; /*22px / 14px*/
    color: #1F3841;
    margin-right: 16px;
}

.calendar__arrow-left{
    width: 32px;
    height: 32px;
}
.calendar__arrow-right{
    width: 32px;
    height: 32px;
}
.timetable__group {
}

.timetable__group-list{
    display: flex;
}

.timetable__group-item{
    background: #FFFFFF;
    box-shadow: inset -1px 0px 0px #D9D9D9, inset 0px 1px 0px #D9D9D9, inset 0px -1px 0px #D9D9D9;
    padding: 5px 16px;
}

.timetable__group-item:first-child{
    border-radius: 4px 0px 0px 4px;
}

.timetable__group-item:last-child{
    border-radius: 0px 4px 4px 0px;
}

.timetable__group-item--active{
    border: 1px solid #4F478F;
}

.timetable__group-link{

}

.timetable__table{
    width: 100%;
    background: #FCFCFC;
    border-collapse: collapse;
    margin-bottom: 16px;
}
.timetable__table-group{

}

.timetable__table-head,
.timetable__table-body{
    line-height: 22px;
}

.timetable__table-head .timetable__table-column{
    text-align: left;
    font-weight: 600;
    padding: 13px 8px 13px 16px;
}

.timetable__table-body .timetable__table-column{
    border: 1px solid #DADADA;
    padding: 13px 8px 13px 16px;
    text-align: left;
    border-left: none;
}

.timetable__speaker{
    text-align: right;
}
/*Timetable page styles end*/

/*Gallery page styles start*/
.gallery__header{
    min-height: 617px;
    background: #181342;
    background-image: url(../assets/gallery_header-photos.png), url(../assets/gallery_cross-big.svg), url(../assets/gallery_cross-big.svg), url(../assets/gallery_cross-small.svg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: center center, center left, top right, 60.8411111111% bottom;
    background-size: contain, auto, auto, auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 104px;
}

.gallery__title{
    max-width: 483px;
    font-weight: 900;
    font-size: 3.5em; /*56px / 16*/
    line-height: 111%;/* 62px or 111% */
    color: #FFFFFF;
    margin-top: 77px;
}

.gallery__collection{
    margin-bottom: 34px;
}

.gallery__images{
    column-count: 4;
    column-gap: 24px;
}

.gallery__wrap{
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 24px;
    break-inside: avoid;
}

.gallery__img{
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.gallery__wrap > .gallery__img{
    grid-row: 1 / -1;
    grid-column: 1;
}

.gallery__img-desc{
    line-height: 157%;/* 22px or 157% */
    color: #000000;
    grid-column: 1;
    justify-self: start;
}
/*Gallery page styles end*/

/*About page styles start*/
.grid{
    display: grid;
    grid-template-columns: 135px 1fr 1fr 135px;
    grid-template-areas: "... sidebar content ..." "quote quote quote quote" "... ... meeting ...";
    margin-top: 34px;
}

/*Sidebar styles start*/
.sidebar{
    grid-area: sidebar;
    padding-right: 23px;
}

.sidebar__menu{
    min-width: 274px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(37, 51, 66, 0.15), inset -1px 0px 0px #F0F0F0;
}

.sidebar__wrap{
    position: relative;
}

.sidebar__btn,
.sidebar__self-link{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.57142857; /*22px / 14px*/
    color: rgba(0, 0, 0, 0.86);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 9px 24px;
}

.sidebar__btn:focus{
    color: #4F478F;
}

.sidebar__btn:focus svg{
    transform: rotate(180deg);
}

.sidebar__list{
    min-width: 250px;
    position: relative;
    background-color: #FFFFFF;
    display: none;
    opacity: 0;
    pointer-events: none;
    transform: rotateY(-10px);
    transition: all 0.5s ease;
}

.sidebar__item{
    background: rgba(236, 233, 255, 0.2);
    width: 100%;
    height: 100%;
    padding: 9px 0px 9px 48px;
}

.sidebar__item:hover{
    background: #ECE9FF;
    border-right: 3px solid #4F478F;
}

.sidebar__btn:focus + .sidebar__list{
    display: block;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0deg);
}

.sidebar__link{
    color: rgba(0, 0, 0, 0.86);
}

.sidebar__link:hover{
    color: #4F478F;
}

.sidebar__self-link:hover{
    color: #4F478F;
    background: #ECE9FF;
}
/*Sidebar styles end*/

/*Content styles start*/
.content{
    grid-area: content;
}

/*About styles start*/
.about{
    margin-bottom: 120px;
}

.about__title{
    font-weight: 700;
    font-size: 2.5em; /*40px / 16*/
    line-height: 1.2; /*48px / 40px*/
    color: #3D3866;
    margin-bottom: 32px;
}

.about__img{
    max-width: 870px;
    width: 100%;
    margin-bottom: 24px;
}

.about__text{
    font-size: 18px;
    line-height: 33px;
}

.about__text-lato{
    font-family: 'Lato', sans-serif;
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.6666667; /*30px / 18px*/
}

.about__text-list{
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.8333333333; /*33px / 18px*/
}
.about__text-item{
    text-indent: 30px;
}

.about__slider{
    padding-bottom: 30px;
    margin: 120px 0;
}

.about__slider-items{
    background: url(../assets/slider_img-small1.jpg) no-repeat;
    background-position: top right;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
}

.about__slider-item{
    max-width: 478px;
}

.about__slider-info{
    max-width: 478px;
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.6666667; /*30px / 18px*/
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(37, 51, 66, 0.15);
    border-radius: 12px;
    padding: 32px 32px 40px 32px;
}

.about__slider-desc{

}

.about__img-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}
/*About styles end*/

/*Professors styles start*/
.professors{
    margin-bottom: 32px;
}

.professors__title{
    margin-bottom: 32px;
}

.professors__img{
    max-width: 870px;
    width: 100%;
    margin-bottom: 40px;
}

.professors__faculty{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}

.professors__faculty-card{
    width: 175px;
    text-align: center;
}

.professors__card-title{
    font-weight: 700;
    font-size: 4em; /*64px / 16*/
    line-height: 1.21875; /*78px / 64px*/
    color: #786CD9;
}

.professors__card-subtitle {
    font-weight: 400;
    font-size: 1em; /*16px / 16*/
    line-height: 1.5;/* 24px / 16px*/
}

.professors__text{
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.6666667; /*30px / 18px*/
}

.professors__list-header,
.professors__list{
    list-style: disc inside;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.125em; /*18px / 16*/
    line-height: 2.222222222; /*40px / 18px*/
}
.professors__list-header{
    margin-top: 24px;
}
.professors__list{
    margin-bottom: 24px;
}

.professors__item{
    padding-left: 15px;
}
/*Professors styles end*/

/*Quote styles start*/
.quote{
    min-height: 471px;
    grid-area: quote;
    background: #F2F5F9;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 135px 300px 1fr 135px;
    grid-template-areas: "... ... quote__wrap ...";
}

.quote__wrap{
    grid-area: quote__wrap;
}

.quote__inner{
    display: flex;
    padding: 58px 0 70px;
}

.quote__desc{
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    font-size: 1.25em; /*20px / 16*/
    line-height: 1.5; /*30px / 20px*/
    color: #232040;
    position: relative;
    padding-top: 50px;
    z-index: 1;
}

.quote__desc::before{
    content: url(../assets/upper_quote.png);
    position: absolute;
    top: -10px;
    left: -40px;
    z-index: -1;
}

.quote__desc::after{
    content: url(../assets/lower_quote.png);
    position: absolute;
    bottom: 30%;
    right: 0;
    z-index: -1;
}

.qoute__text{
    margin-bottom: 24px;
}

.quote__author{
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.333333333333; /*24px / 18px*/
    margin-bottom: 8px;
}

.quote__author-position{
    font-weight: 500;
    font-size: 1em; /*16px / 16*/
    line-height: 1.375;/* 22px / 16px*/
}

.quote_author-img{
    width: 265px;
    height: 343px;
    filter: drop-shadow(0px 4px 12px rgba(14, 8, 49, 0.15));
    border-radius: 8px;
    margin-right: 24px;
}

.quote__images{
    display: flex;
}

.quote__btn{
    background: none;
    border: none;
    align-self: flex-start;
    position: relative;
    cursor: pointer;
}
.quote__btn:not(:last-child){
    margin-right: 24px;
}

.quote__btn-left:after{
    content: url(../assets/quote_btn-left.svg);
    position: absolute;
    bottom: 0;
    right: 0;
}
.quote__btn-right:before{
    content: url(../assets/quote_btn-right.svg);
    position: absolute;
    bottom: 0;
    left: 0;
}
/*Quote styles end*/

/*Meeting styles start*/
.meeting{
    grid-area: meeting;
}
.meeting__title{
    margin-bottom: 32px;
}

.meeting__img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.meeting__img-desc{
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.6666667; /*30px / 18px*/
    margin-top: 32px;
}
/*Meeting styles end*/
/*Content styles end*/
/*About page styles end*/

/*Payment page styles start*/
/*Cost styles start*/
.cost{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 64px;
}

.cost__inner{
    padding: 48px 0 0;
}

.cost__title{
    margin-bottom: 32px;
}

.cost__btn{
    padding: 20px 40px;
    margin-bottom: 32px;
}

.cost__table{
    font-size: 1em; /*16px / 16*/
    line-height: 1.5;/* 24px / 16px*/
    width: 100%;
    background: #FFFFFF;
    border-spacing: 0;
    border-radius: 8px;
    margin-bottom: 24px;
}

.cost__table-head{
    background: #ECE9FF;
}

.cost__table-body{
    border: 1px solid #E0E0E0;
}

.cost__table-head .cost__table-column {
    text-align: left;
    font-weight: 500;
    padding: 13px 8px 13px 16px;
}

.cost__table-body .cost__table-column{
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    text-align: left;
    padding: 13px 8px 13px 16px;
}

.cost__table-body .cost__table-column:first-child{
    border-left: 1px solid #E0E0E0;
}

.cost__table-head .cost__table-column:first-child{
    border-radius: 8px 0px 0px 0px;
}
.cost__table-head .cost__table-column:last-child{
    border-radius: 0px 8px 0px 0px;
}
.cost__table-body .cost__table-row:last-child .cost__table-column:first-child{
    border-radius: 0px 0px 0px 8px;
}
.cost__table-body .cost__table-row:last-child .cost__table-column:last-child{
    border-radius: 0px 0px 8px 0px;
}

.cost__table-column:last-child{
    text-align: right;
}

.cost__desc{
    max-width: 869px;
}

.cost__text{
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.8333333333; /*33px / 18px*/
}

.cost__text:not(:last-child){
    margin-bottom: 24px;
}

.cost__text--dark{
    color: #1F3841;
}

.cost__text-link{
    color: #786CD9;
}
/*Cost styles end*/

/*Paymen styles start*/
.payment {
}

.payment__header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;
}

.payment__title{
    margin-right: 32px;
}

.payment__list{
    display: flex;
}

.payment__item:not(:last-child){
    margin-right: 24px;
}
.payment__link {
}
.payment__img {
}

.payment__body{
    width: 720px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 48px 48px 56px;
}

.payment__form{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.7142857; /*24px / 14px*/
    color: #7D7D7D;
}

.payment__input{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em; /*14px / 16*/
    line-height: 1.42857142857; /*20px / 14px*/
    border: 1px solid #E0E0E0;
    margin-bottom: 16px;
}

.payment__input-wrap{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}

.payment__label{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125em; /*13px / 16*/
    line-height: 1.5384615; /*20px / 13px*/
}

.payment__specialty-wrap{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.payment__period-wrap{
    margin-bottom: 40px;
}

.payment__title-radio{
    font-weight: 600;
    margin-bottom: 8px;
}

.payment__radio-label{
    position: relative;
    padding-left: 24px;
}

.payment__radio-label .payment__radio-input:checked ~ .checkmark{
    border: 1px solid #4F478F;
}

.payment__radio-label .payment__radio-input:checked ~ .checkmark::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #4F478F;
}

.payment__radio-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    margin-right: 8px;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
}

.payment__specialty-label:not(:last-child){
    margin-bottom: 12px;
}

.payment__period-label:not(:last-child){
    margin-right: 24px;
}

.payment__sum{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.payment__sum-label{
    font-size: 1em;
    margin-right: 108px;
}

.payment__sum-price{
    font-weight: 700;
    font-size: 2em; /*32px / 16*/
    line-height: 1.21875; /*39px / 32px*/
    color: #786CD9;
}

.payment__form-btns{
    display: flex;
    align-items: center;
}

.payment__btn{
    padding: 20px 139px;
    margin-right: 38px;
}

.liqpay__link {
}
.liqpay__img {
}
/*Paymen styles end*/
/*Payment page styles end*/


@media (max-width: 375px){
    .wrapper{
        max-width: 343px;
        width: 100%;
    }

    .main,
    .info,
    .slider,
    .tour,
    .news{
        margin-bottom: 80px;
    }

    .hero {
        background: url(../assets/college-mobile.jpg) no-repeat;
        background-color: #232040;
        background-position: center top;
        background-size: contain;
    }
    .hero__inner {
        padding: 188px 0 40px;
    }
    .hero__title{
        margin-bottom: 40px;
    }
    .hero__border-img:last-of-type{
        display: none;
    }
    .hero__info-wrap:nth-of-type(2){
        flex-direction: column;
    }
    .hero__info-wrap:nth-of-type(3){
        margin-bottom: 0;
    }
    .hero__info-img{
        margin-bottom: 8px;
    }

    .programs__cards{
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .program__card-inner{
        padding: 16px 16px 24px;
    }
    .program__table-column--mobile{
        display: none;
    }
    .program__table{
        margin-bottom: 7px;
    }
    .program__table--mobile{
        display: block;
        margin-bottom: 16px;
    }

    .info__cards{
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .info__card{
        height: 240px;
        padding: 16px 16px 24px;
    }
    .info__card:nth-child(1){
        background-image: url(../assets/pay_card-mobile.jpg);
    }
    .info__card:nth-child(2){
        background-image: url(../assets/timetable_card-mobile.jpg);
    }
    .info__card:nth-child(3){
        background-image: url(../assets/library_card-mobile.jpg);
    }

    .slider__items{
        background: none;
        justify-content: flex-start;
    }
    .slider__info {
        width: 100%;
        background: none;
        box-shadow: none;
        filter: none;
        border-radius: 0px;
        padding: 0px;
        margin-top: 34px;
    }
    .slider__pagination{
        display: none;
    }
    .slider__carousel {
        display: block;
    }
    .slider__carousel-indicators {
        text-align: center;
    }
    .slider__carousel-btn {
        width: 10px;
        height: 10px;
        margin-right: 16px;
        background-color: #C4C4C4;
        border: 1px solid #C4C4C4;
        border-radius: 50%;
    }
    .slider__carousel-btn--active {
        background: #4F478F;
        border: 1px solid #4F478F;
    }
 
    /* .carousel-indicators button[data-bs-target] {
        box-sizing: content-box;
        width: 10px;
        height: 10px;
        padding: 0;
        margin-right: 16px;
        background-color: #C4C4C4;
        background-clip: padding-box;
        border: 0;
        border-top: 0;
        border-bottom: 0;
        border-radius: 50%;
        opacity: 1;
        transition: opacity .6s ease;
    }
    .carousel-indicators button.active {
        background: #4F478F;
    }
    .slider__items .carousel-indicators {
        bottom: -26px;
    } */

    .tour__inner{
        flex-direction: column-reverse;
    }
    .tour__info{
        border-radius: 0 0 8px 8px;
        padding: 16px 16px 32px;
    }

    .news__articles{
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .news__btn{
        grid-column: 1;
        margin-top: 8px;
    }
    .news__article-info{
        padding: 16px 16px 24px;
    }

    .consultation__form-inner{
        padding: 32px 40px 56px;
    }
    .consultation__form{
        flex-direction: column;
    }
    .consultation__form-input{
        padding: 14px 16px;
        margin-right: 0;
        margin-bottom: 12px;
    }
    .consultation__form-input:last-of-type{
        margin-bottom: 24px;
    }
    .consultation__info-card{
        flex-direction: column;
    }
    .consultation__info-card:not(:last-of-type){
        margin-bottom: 76px;
    }
    .consultation__info-cards::before{
        content: url(../assets/consultation_steps-mobile.png);
        position: absolute;
        top: 60px;
        left: -10px;
    }
    .consultation__info-title{
        font-size: 24px;
        line-height: 28px;
        color: #232040;
        margin-bottom: 48px;
    }
    .consultation__card-img{
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
    }

    .footer__inner{
        padding: 48px 0;
    }
    .footer__menu{
        margin-bottom: 16px;
    }
    .footer__menu-list{
        flex-direction: column;
    }
    .footer__menu-item:not(:last-child){
        position: relative;
        margin-bottom: 32px;
    }
    .footer__menu-item:not(:last-child):after{
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, #4D4680 0.18%, #786CD9 26.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
        border-radius: 4px;
        margin-top: 16px;
    }
    .footer__border-img:first-of-type{
        margin-bottom: 24px;
    }
    .footer__border-img:not(:first-of-type){
        margin-bottom: 40px;
    }
    .footer__wrap{
        flex-direction: column;
        margin-bottom: 24px;
    }
    .footer__content:not(:last-child){
        position: relative;
        margin-bottom: 48px;
    }
    .footer__content:not(:last-child):after{
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, #4D4680 0.18%, #786CD9 26.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
        border-radius: 4px;
        margin-top: 24px;
    }
    .footer__content-list{
        font-size: 16px;
        line-height: 32px;
    }
    .address:first-of-type{
        grid-column: 1 / 3;
        margin-bottom: 24px;
    }
    .address:last-of-type{
        grid-row: 2;
        grid-column: 1 / 3;
        display: grid;
        row-gap: 8px;
    }
    .footer__socials{
        grid-column: 2;
        grid-row: 2;
    }

    .sidebar{
        display: none;
    }
    .grid{
        max-width: 343px;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
}