*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:after, :before {
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.86);
}

ul{
    list-style: none;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #232040;
}

.btn{
    /* min-width: 230px; */
    background: #4F478F;
    border: 1px solid #4D4680;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 6px;
    min-width: max-content;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;

    /* font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #4D4680; */
}

.border-img{
    height: 1px;
    background: linear-gradient(90deg, #4D4680 0.18%, #786CD9 26.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
    border-radius: 4px;
}

.toogle{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

/* .toogle--toogled svg{
    transform: rotate(-180deg);
}

.toogle svg{
    transition: all .3s linear;
} */

/*Header styles start*/
.header{
    filter: drop-shadow(0px -6.45766px 14.5297px rgba(0, 0, 0, 0.13)) drop-shadow(0px -1.21081px 3.63243px rgba(0, 0, 0, 0.11));
}

.header__layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0 17px;
}

.logo {
}
.logo__link {
}
.logo__img {
}
.routs {
}
.routs__list{
    display: flex;
}
.routs__item {
}
.routs__link {
}
.header__btn{
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: 6px 8px;
}

.header__border-img{
    height: 1px;
    background: #E0E0E0;
}

.menu{
    padding: 10px 0;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu__list-item {
}
.menu__list-link {
}
/*Header styles end*/

/*Main styles start*/
.main {
}

/*Hero styles start*/
.hero{
    background: url(../assets/college.jpg) no-repeat;
    background-color: #232040;
    background-position: center right;
    background-size: contain;
}

.hero__inner{
    padding: 104px 0 87px;
}

.hero__info{
    max-width: 450px;
}

.hero__title{
    font-weight: 700;
    font-size: 34px;
    line-height: 42px; /* or 124% */
    color: #FFFFFF;
    margin-bottom: 57px;
}

.hero__border-img:not(:last-child){
    margin-bottom: 23px;
}

.hero__info-wrap{
    display: flex;
    margin-bottom: 24px;
}

.hero__info-img{
    width: 223px;
    height: 120px;
    border-radius: 8px;
    margin-right: 24px;
}

.hero__info-text{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.86);
}

.hero__info-link{
    display: flex;
    align-items: center;
}

.hero__link-img{
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.hero__link-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;/* identical to box height, or 150% */
    color: #FFFFFF;
}

.hero__img {
}
/*Hero styles end*/

/*Programs styles start*/
.programs{
    background: #F2F5F9;
    margin-bottom: 80px;
}

.programs__inner{
    padding: 76px 0 63px;
}

.programs__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 42px;
}

.programs__cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}

.program__card{
    max-width: 572px;
    box-shadow: 0px 2px 12px rgba(10, 30, 52, 0.08);
    border-radius: 8px;
}

.program__card-nursing{
    background: url(../assets/Illustration_nurse.png) no-repeat;
    background-position: right bottom;
    background-color: #FFFFFF;
}

.program__card-pharmacy{
    background: url(../assets/Illustration_pharmacy.png) no-repeat;
    background-position: right bottom;
    background-color: #FFFFFF;
}

.program__card-inner{
    padding: 32px 32px 40px 32px;
}

.program__table{
    margin-bottom: 40px;
}

.program__table-title{
    font-size: 24px;
    line-height: 38px;
    text-align: left;
    margin-bottom: 8px;
}
.program__table-group {
}
.program__table-head{
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.6;
    text-align: left;
}
.program__table-row {
}

.program__table-column{
    vertical-align: top;
}

.program__table-column:first-of-type{
    width: 267px;
}
.program__table-body {
}
.program__card-btn{
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #4D4680;
    padding: 8px 24px;
    border-radius: 8px;
    background: none;
    border: 2px solid #4D4680;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    /* background-clip: padding-box;
    border: solid 2px transparent;
    position: relative;
    margin: auto; */
}

/* .program__card-btn::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(to right, #4D4680 0%, #786CD9 30%, #D2CEF2 50.52%, #786CD9 70%, #4D4680 100%);
} */
/*Programs styles end*/

/*Info styles start*/
.info{
    margin-bottom: 120px;
}

.info__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.85);
}

.info__card{
    width: 373px;
    height: 578px;
    padding: 24px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(112, 112, 112, 0) 36.98%, #161429 100%), url(.jpg), #C4C4C4; */
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info__card:nth-child(1){
    background-image: url(../assets/pay-card.jpg);
}

.info__card:nth-child(2){
    background-image: url(../assets/timetable-card.jpg);
}

.info__card:nth-child(3){
    background-image: url(../assets/library-card.jpg);
}

.info__card-title{
    font-weight: 700;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 8px;
}

.info__card-desc{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.info__card-link{
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.85);
}

.fas {
}
/*Info styles end*/

/*Slider styles start*/
.slider{
    padding-bottom: 30px;
    margin-bottom: 120px;
}

.slider__items{
    background: url(../assets/slider-img1.jpg) no-repeat;
    background-position: top left;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
}

.slider__img{
    width: 764px;
    height: 507px;
    border-radius: 12px;
}

.slider__item{
    max-width: 652px;
}

.slider__wrap{

}

.slider__number{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    padding-top: 29px;
    margin-bottom: 32px;
    text-align: center;
}

.slider__number--active{
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}

.slider__info{
    max-width: 652px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px 2px rgba(37, 51, 66, 0.12);
    filter: drop-shadow(0px 2px 12px rgba(10, 30, 52, 0.08));
    border-radius: 12px;
    padding: 48px;
}

.slider__title{
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 16px;
}

.slider__desc{
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 24px;
}

.slider__btn{
    padding: 20px 56.5px;
}
/*Slider styles end*/

/*Tour styles start*/
.tour{
    margin-bottom: 120px;
}

.tour__inner{
    display: flex;
    justify-content: space-between;
}

.tour__info{
    background: #F2F5F9;
    border-radius: 8px 0 0 8px;
    padding: 32px;
}

.tour__title{
    margin-bottom: 16px;
}

.tour__desc{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 52px;
}

.tour__info-link{
    display: flex;
    align-items: center;
}

.tour__link-img{
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.tour__link-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;/* identical to box height, or 133% */
    color: #4F478F;
}

.tour__img {
}
/*Tour styles end*/

/*News styles start*/
.news{
    margin-bottom: 120px;
}

.news__title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 48px;
}

.news__articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 40px;
}

.news__article{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.news__article-img{
    width: 373px;
    height: 222px;
}

.news__article-info{
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 32px;
}

.news__article-title{
    font-size: 24px;
    line-height: 32px;/* or 133% */
    color: rgba(0, 0, 0, 0.86);
    margin-bottom: 16px;
}

.news__article-desc{
    margin-bottom: 24px;
}

.news__article-link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;/* identical to box height, or 150% */
    color: #4D4680;
}

.news__btn{
    justify-self: center;
    grid-column: 2;
    padding: 20px 40px;
}

.news__title-main{
    padding-top: 64px;
    margin-bottom: 32px;
}

.news__articles-main{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-bottom: 88px;
}

.news__article-main{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}

.news__article-img-main{
    width: 572px;
    height: 348px;
}

.news__article-info-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 40px 32px;
}

.news__pagination{
    width: 272px;
    height: 32px;
    justify-self: center;
    grid-column: 2;
}
/*News styles end*/

/*Consultation styles start*/
.consultation{
    margin-bottom: 120px;
}

.consultation__info{
    background: #F2F5F9;
    border-radius: 8px 8px 0 0;
    padding: 32px 40px 90px;
}

.consultation__info-title{
    color: #3D3866;
    margin-bottom: 72px;
    text-align: center;
}
.consultation__info-cards{
    /* background: url(../assets/consultation-steps.png) no-repeat;
    background-position: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.consultation__info-cards::before{
    content: url(../assets/consultation-steps.png);
    position: absolute;
    top: 30px;
    left: 90px;
}

.consultation__info-card{   
    width: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.consultation__card-img{
    width: 104px;
    height: 104px;
    margin-bottom: 32px;
}

.consultation__card-title{
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.85);
}

.consultation__form-inner{
    background: linear-gradient(0deg, #7CACB3, #7CACB3), #786CD9;
    border-radius: 0 0 8px 8px;
    padding: 40px 190px 72px 185px;
}

.consultation__form-title{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
}

.consultation__form{
    display: flex;
}

.consultation__form-input{
    width: 250px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 21px 24px;
    font-family: inherit;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 24px;
}

.consultation__form-btn{
    padding: 20px 30px;
}
/*Consultation styles end*/
/*Main styles end*/

/*Footer styles start*/
.footer{
    background: #232040;
    color: #FFFFFF;
}

.footer__inner{
    padding: 57px 40px;
}

.footer__menu{
    margin-bottom: 24px;
}

.footer__menu-list{
    font-size: 16px;
    line-height: 24px;
}

.footer__border-img:first-of-type{
    margin-bottom: 32px;
}
.footer__border-img:not(:first-of-type){
    margin-bottom: 24px;
}

.footer__wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer__content {
}

.footer__content-list{
    line-height: 24px;
}

.footer__content-link{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.72);
}

.footer__content-item {
}
.footer__content-link {
}

.footer__contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.address{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.phones{
    padding-top: 24px;
}

.phone:not(:last-child){
    margin-right: 40px;
}

.footer__socials {
}
.footer__social-list{
    display: flex;
}
.footer__social-item:not(:last-child){
    margin-right: 16px;
}
.footer__social-link {
}
.footer__social-img {
}
.copyright{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.72);
}
/*Footer styles end*/

/*Modal form styles start*/
.modal__holder{
    width: 572px;
    height: 622px;
    background: url(../assets/illustration_cross.png) no-repeat;
    background-position: left top;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 40px 100px;
    position: relative;
}

.modal__title{
    text-align: center;
    margin-bottom: 24px;
}

.modal__close{
    border: none;
    background: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.modal__entry{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 140.62%;
    text-align: right;
    margin-bottom: 24px;
}

.modal__entry-link{
    font-weight: 500;
    color: #4F478F;
}

.modal__input{
    width: 373px;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 25px;
    margin-bottom: 24px;
}

.modal__label{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;/* identical to box height, or 154% */
    color: rgba(0, 0, 0, 0.5);
}

.email{
    margin-top: 24px;
}
.password{
    margin-bottom: 32px;
}

.modal__btn{
    padding: 20px 104px;
}
/*Modal form styles end*/