@media (max-width: 1340px){
    .hero__inner{
        padding: 70px 0 50px;
    }
}

@media (max-width: 1183px){
    .wrapper{
        padding: 0 15px;
    }
}
@media (max-width: 1172px){
    .hero__inner{
        padding: 50px 0 40px;
    }
    
    .consultation__info-cards::before{
        left: 70px;
    }
}
@media (max-width: 1140px){
    .hero__inner{
        padding: 30px 0 30px;
    }

    .slider__pagination{
        padding-left: 140px;
    }

    .consultation__info-cards::before{
        left: 50px;
    }
}

@media (max-width: 1100px){
    .hero__inner{
        padding: 10px 0 30px;
    }

    .slider__pagination{
        padding-left: 225px;
    }

    .consultation__info-cards::before{
        width: 850px;
        left: 65px;
    }
}
@media (max-width: 1072px){
    .hero__title{
        margin-bottom: 30px;
    }

    .slider__pagination{
        padding-left: 290px;
    }

    .consultation__info-cards::before{
        left: 50px;
    }
}

@media (max-width: 1024px){
    .hero__title{
        font-size: 2em;
    }

    .slider__pagination{
        justify-content: flex-end;
    }

    .consultation__info-cards::before{
        width: 760px;
        left: 75px;
        top: 45px;
    }
}
@media (max-width: 990px){
    .hero__info-wrap:nth-of-type(2){
        flex-direction: column;
        margin-right: 120px;
    }

    .consultation__info-cards::before{
        left: 55px;
    }
}
@media (max-width: 960px){
    .hero__info{
        background-color: rgba(35, 32, 64, 0.5);
        box-shadow: 12px 29px 81px 0px rgba(35, 32, 64, 0.5);
    }
    .consultation__info-cards::before{
        width: 720px;
        left: 60px;
    }
}
@media (max-width: 932px){
    .consultation__info-card{
        width: 170px;
    }

    .consultation__info-cards::before{
        left: 48px;
        top: 58px;
    }
}

@media (max-width: 916px){
    .logo{
        margin-right: 0;
        margin-left: 20px;
    }

    .hero {
        background: url(../assets/college-mobile.jpg) no-repeat;
        background-color: $base-color;
        background-position: center top;
        background-size: contain;
    }
    .hero__inner {
        padding: 188px 0 40px;
    }
    .hero__title{
        line-height: line(medium);
        margin-bottom: 40px;
    }
    .hero__border-img:last-of-type{
        display: none;
    }
    .hero__info-wrap:nth-of-type(2){
        flex-direction: column;
    }
    .hero__info-wrap:nth-of-type(3){
        margin-bottom: 0;
    }
    .hero__info-img{
        margin-bottom: 8px;
    }

    .programs__title{
        text-align: center;
    }
    .programs__cards{
        grid-template-columns: 1fr;
        row-gap: 16px;
        justify-items: center;
    }
    .program__card{
        width: 100%;
    }


    .info__cards{
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
    }
    .info__card{
        height: 240px;
        padding: 16px 16px 24px;

        &-title{
            line-height: line(regular);
        }

        &:nth-child(1){
            background-image: url(../assets/pay_card-mobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            justify-self: end;
        }
        &:nth-child(2){
            background-image: url(../assets/timetable_card-mobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:nth-child(3){
            background-image: url(../assets/library_card-mobile.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            justify-self: end;
        }
    }

    .slider,
    .about__slider,
    .meeting__slider{
        position: relative;
    }
    .meeting__slider{
        display: block;
        height: 217px;
    }
    .meeting__slider-items{
        display: none;
    }
    .slider__btn{
        font-size: size(base);
        line-height: line(thin);
        padding: 16px 37px;
    }
    .slider__items,
    .about__slider-items{
        background: none;
    }
    .slider__items-wrap,
    .about__slider-items-wrap{
        justify-content: center;
    }
    .slider__info,
    .about__slider-info {
        width: 100%;
        margin: 0 auto;
        background: none;
        box-shadow: none;
        filter: none;
        border-radius: 0px;
        padding: 0px;
    }
    .slider__pagination{
        display: none;
    }
    .slider__carousel {
        display: block;

        &-item{
            height: 241px;
            margin-bottom: 50px;
        }
    }
    .slider__carousel-item,
    .slider__carousel-dots,
    .meeting-slider__carousel-dots {
        text-align: center;
    }
    .slider__carousel-dots{
        display: block;
        position: absolute;
        top: 257px;
        left: 50%;
        transform: translateX(-50%);
    }
    .meeting-slider__carousel-dots{
        display: block;
        position: absolute;
        top: 217px;
        left: 50%;
        transform: translateX(-50%);
    }
    .slider__carousel-dot,
    .meeting-slider__carousel-dot {
        width: 10px;
        height: 10px;
        margin-right: 16px;
        background-color: $input-border;
        border: 1px solid $input-border;
        border-radius: 50%;
    }
    .slider__carousel-dot--active,
    .meeting-slider__carousel-dot--active {
        background: $primary-color;
        border: 1px solid $primary-color;
    }
 

    .tour__inner{
        flex-direction: column-reverse;
    }
    .tour__info{
        border-radius: 0 0 8px 8px;
        padding: 16px 16px 32px;
    }
    .tour__img{
        max-width: 916px;
        width: 100%;
    }

    .news__articles,
    .news__articles-main{
        grid-template-columns: 1fr 1fr;
        row-gap: 16px;
        justify-items: center;
    }
    .news__articles-main{
        margin-bottom: 16px;
    }
    .news__article{
        max-width: 373px;
    }
    .news__article-main{
        flex-direction: column;
    }
    .news__btn{
        grid-column: 1 / 3;
        padding: 16px 24px;
        margin-top: 8px;
    }
    .news__inner {
        padding: 32px 0 0;
    }
    .news__article-img-main{
        width: 100%;
    }


    .consultation__info-cards::before{
        left: 42px;
        top: 56px;
    }
    .consultation__form-inner{
        padding: 32px 40px 56px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .consultation__form{
        max-width: 425px;
        width: 100%;
        flex-direction: column;
    }
    .consultation__form-input{
        margin-right: 0;
        margin-bottom: 20px;
    }


    .footer__inner{
        padding: 48px 0;
    }
    .footer__menu-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
    }
    .address:first-of-type{
        grid-column: 1 / 3;
        margin-bottom: 24px;
    }
    .address:last-of-type{
        grid-row: 2;
        grid-column: 1 / 3;
        display: grid;
        row-gap: 8px;
    }
    .footer__socials{
        grid-column: 2;
        grid-row: 2;
    }

    /*Burger menu styles start*/
    .header{
        position: relative;
        z-index: 2;
        height: 72px;
    }
    .header__btn{
        line-height: line(base-second);
        padding: 6px 16px;
    }

    .header__burger{
        display: block;
        position: relative;
        width: 28px;
        height: 19px;
        z-index: 3;
        &::before,
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            background: $primary-color;
            border-radius: 23px;
            height: 3px;
            left: 0;
            transition: all 0.4s ease-in-out;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        & span{
            position: absolute;
            width: 100%;
            background: $primary-color;
            border-radius: 23px;
            height: 3px;
            left: 0;
            top: 8px;
            transition: all 0.4s ease-in-out;
        }

        &.active::before{
            transform: rotate(45deg);
            top: 8px;
        }
        &.active::after{
            transform: rotate(-45deg);
            bottom: 8px;
        }
        &.active span{
            transform: scale(0);
        }
    }

    .header__menu{
        position: fixed;
        left: -100%;
        max-width: 319px;
        width: 100%;
        background: $light;
        transition: all 0.4s ease-in-out;

        &.active{
            left: 0;
        }
    }
    .routs__menu{
        display: block;
        top: 72px;
        padding: 16px 0;
    }
    .routs__menu-list-btn svg{
        display: none;
    }
    .routs__menu-wrap{
        display: block;
        max-width: 319px;
        width: 100%;
        height: 100%;
        background: $light;
        padding: 12px 32px;
   
        &:not(:last-of-type){
            margin-bottom: 16px;
        }
        &:hover{
            background: $sidebar-color;
            border-radius: 2px;
        }
    }
    .header__btn-wrap{
        min-height: max-content;
        height: 100%;
        top: 644px;
        padding: 12px 32px 134px 32px;
        z-index: -1;
    }
    .header__border-img{
        display: none;
    }
    .menu{
        top: 273px;
        min-height: max-content;
        height: 100%;
        padding: 0;
        z-index: -1;
    }
    .header__menu-list{
        display: block;
        background: $light;
        padding-bottom: 16px;
    }
    .header__menu-item{
        padding: 12px 32px;
   
        &:not(:last-child){
            margin-bottom: 16px;
        }
        &:hover{
            background: $sidebar-color;
            border-radius: 2px;
        }
    }
    .header__menu-link:hover{
        border-bottom: none;
        color: $primary-color;
    }
    /*Burger menu styles end*/

    /*Burger submenu styles start*/
    .header__submenu.header__submenu--active{
        left: 0;
    }
    .header__submenu{
        position: fixed;
        left: -100%;
        max-width: 319px;
        width: 100%;
        background: $light;
        transition: all 0.3s ease-in-out;
    }
    .routs__menu-list-btn:focus + .routs__menu-list{
        z-index: 8;
    }
    .routs__menu-list{
        display: block;
        top: 134px;
        padding-bottom: 100vh;
        border-radius: 0;
        transition: all 0.3s ease;
        z-index: 2;
    }
    .routs__menu-item{
        position: relative;
        padding: 16px;

        &:after{
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
            height: 1px;
            background: linear-gradient(90deg, $accent-color 0.18%, $secondary-color 6.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
            border-radius: 4px;
        }
    }
    .routs__menu-list-btn:focus.header__submenu--active{
        justify-content: center;
        width: 100%;
    }
    .routs__menu-wrap:nth-child(2) .routs__menu-list-btn:focus.header__submenu--active{
        transform: translateY(-74px);
        background: $sidebar-color;
        padding: 12px 0;
    }
    .routs__menu-wrap:nth-child(3) .routs__menu-list-btn:focus.header__submenu--active{
        transform: translateY(-136px);
        background: $sidebar-color;
        padding: 12px 0;
    }
    .routs__menu-list-btn:focus.header__submenu--active::before{
        content: url(../assets/menu_arrow-left.svg);
        position: absolute;
        left: 16px;
        top: 12px;
        cursor: pointer;
    }
    /*Burger submenu styles end*/
}

@media (max-width: 892px){
    .consultation__info-cards::before{
        left: 28px;
    }
}
@media (max-width: 868px){
    .consultation__info-cards::before{
        width: 680px;
    }
}
@media (max-width: 816px){
    .consultation__info-cards::before{
        width: 640px;
    }
}
@media (max-width: 790px){
    .consultation__info-cards::before{
        width: 620px;
    }
}
@media (max-width: 768px){
    .consultation__info-cards::before{
        width: 592px;
        top: 66px;
    }
}

@media (max-width: 748px){
    .wrapper{
        width: 100%;
    }
    .title{
        font-size: size(large);
        line-height: line(large);
    }

    .main,
    .info,
    .slider,
    .tour,
    .news{
        margin-bottom: 80px;
    }


    .news__articles,
    .news__articles-main{
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .news__articles-main{
        margin-bottom: 16px;
    }
    .news__article-main{
        flex-direction: column;
    }
    .news__title{
        margin-bottom: 24px;
    }
    .news__article-title{
        font-size: size(medium);
        line-height: line(regular);
    }
    .news__article-desc{
        font-size: size(small);
        line-height: line(base);
    }
    .news__article-link{
        font-size: size(regular);
        line-height: line(regular);
    }
    .news__btn{
        font-size: size(base);
        line-height: line(thin);
        grid-column: 1;
        padding: 16px 24px;
        margin-top: 8px;
    }
    .news__article-info,
    .news__article-info-main{
        padding: 16px 16px 24px;
    }
    .news__inner {
        padding: 32px 0 0;
    }
    .news__article-img-main{
        width: 100%;
    }

    .consultation{
        overflow-x: hidden;
    }
    .consultation__info-title{
        font-size: size(large);
        line-height: line(normal);
        color: $base-color;
        margin-bottom: 48px;
    }
    .consultation__info-cards{
        flex-direction: column;
        align-items: center;

        &::before{
            content: url(../assets/consultation_steps-mobile.png);
            position: absolute;
            top: 60px;
            left: -10px;
            background-image: none;
        }
    }
    .consultation__info-card{
        width: 150px;
        flex-direction: column;

        &:not(:last-of-type){
            margin-bottom: 76px;
        }
    }
    .consultation__card-img{
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
    }
    .consultation__card-title{
        font-size: size(medium);
        line-height: line(base-second);
    }
    .consultation__form-inner{
        padding: 32px 40px 56px;
    }
    .consultation__form{
        flex-direction: column;
    }
    .consultation__form-title{
        line-height: line(normal);
    }
    .consultation__form-input{
        padding: 14px 16px;
        margin-right: 0;
        margin-bottom: 12px;

        &:last-of-type{
            margin-bottom: 24px;
        }
    }
    .consultation__form-btn{
        font-size: size(base);
        line-height: line(thin);
        padding: 16px;
    }


    .footer__inner{
        padding: 48px 0;
    }
    .footer__menu{
        margin-bottom: 16px;
    }
    .footer__border-img:first-of-type{
        margin-bottom: 24px;
    }
    .footer__border-img:not(:first-of-type){
        margin-bottom: 40px;
    }
    .footer__wrap{
        flex-direction: column;
        margin-bottom: 24px;
    }
    .footer__content:not(:last-child){
        position: relative;
        margin-bottom: 48px;
    }
    .footer__content:not(:last-child):after{
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, $accent-color 0.18%, $secondary-color 6.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
        border-radius: 4px;
        margin-top: 24px;
    }
    .footer__content-list{
        font-size: size(regular);
        line-height: 32px;
    }
    .address:first-of-type{
        grid-column: 1 / 3;
        margin-bottom: 24px;
    }
    .address:last-of-type{
        grid-row: 2;
        grid-column: 1 / 3;
        display: grid;
        row-gap: 8px;
    }
    .footer__socials{
        grid-column: 2;
        grid-row: 2;
    }
}

@media (max-width: 540px){

    .modal{
        top: 112px;
        left: 5px;
        right: 5px;
        transform: translateX(0px);

        &__holder {
            background: url(../assets/illustration_cross-mobile.svg) no-repeat;
            background-position: left top;
            background-color: $bg-light;
            border-radius: 8px;
            padding: 24px 80px 32px;
            position: relative;
        }
        &__close {
            top: 16px;
            right: 16px;
        }
        &__btn{
            padding: 16px 20px;  
        }
    }

    .programs__title{
        text-align: center;
    }
    .programs__cards{
        grid-template-columns: 1fr;
        row-gap: 16px;
    }
    .program__card-inner{
        padding: 16px 16px 24px;
    }
    .program__table-title{
        font-size: size(medium);
        line-height: line(medium);
    }
    .program__table-column--mobile{
        display: none;
    }
    .program__table{
        margin-bottom: 7px;
    }
    .program__table--mobile{
        display: block;
        margin-bottom: 16px;
    }

    .info__cards{
        grid-template-columns: 1fr;
        row-gap: 16px;
        justify-items: center;
    }
    .info__card{
        height: 240px;
        padding: 16px 16px 24px;

        &-title{
            line-height: line(regular);
        }

        &:nth-child(1){
            background-image: url(../assets/pay_card-mobile.jpg);
            justify-self: center;
        }
        &:nth-child(2){
            background-image: url(../assets/timetable_card-mobile.jpg);
        }
        &:nth-child(3){
            background-image: url(../assets/library_card-mobile.jpg);
            justify-self: center;
        }
    }

    .footer__inner{
        padding: 48px 0;
    }
    .footer__menu{
        margin-bottom: 16px;
    }
    .footer__menu-list{
        grid-template-columns: 1fr;
        row-gap: 0;
    }
    .footer__menu-item:not(:last-child){
        position: relative;
        margin-bottom: 32px;
    }
    .footer__menu-item:not(:last-child):after{
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, $accent-color 0.18%, $secondary-color 6.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
        border-radius: 4px;
        margin-top: 16px;
    }
    .footer__border-img:first-of-type{
        margin-bottom: 24px;
    }
    .footer__border-img:not(:first-of-type){
        margin-bottom: 40px;
    }
    .footer__wrap{
        flex-direction: column;
        margin-bottom: 24px;
    }
    .footer__content:not(:last-child){
        position: relative;
        margin-bottom: 48px;
    }
    .footer__content:not(:last-child):after{
        content: '';
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 1px;
        background: linear-gradient(90deg, $accent-color 0.18%, $secondary-color 6.49%, rgba(210, 206, 242, 0.335219) 75.36%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.3);
        border-radius: 4px;
        margin-top: 24px;
    }
    .footer__content-list{
        font-size: size(regular);
        line-height: 32px;
    }
    .address:first-of-type{
        grid-column: 1 / 3;
        margin-bottom: 24px;
    }
    .address:last-of-type{
        grid-row: 2;
        grid-column: 1 / 3;
        display: grid;
        row-gap: 8px;
    }
    .footer__socials{
        grid-column: 2;
        grid-row: 2;
    }
}

@media (max-width: 375px){
    .modal{
        &__holder {
            padding: 24px 40px 32px;
        }
    }

    .slider__info,
    .about__slider-info {
        max-width: 343px;
    }
 
    .tour__title{
        margin-bottom: 8px;
    }
    .tour__desc{
        font-size: size(base);
        line-height: line(base);
        margin-bottom: 24px;
    }
    .tour__link-img{
        width: 48px;
        height: 48px;
    }
    .tour__link-text{
        font-size: size(regular);
        line-height: line(regular);
    }
    .tour__img{
        width: 100%;
    }


       /*About page styles start*/
       .sidebar{
        display: none;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas:
        "content content"
        "quote quote"
        "meeting meeting";
    }
    .content,
    .quote__wrap,
    .meeting{
        max-width: 343px;
        width: 100%;
        margin: 0 auto;
    }
    .about{
        margin-bottom: 56px;
    }
    .about__slider{
        padding-bottom: 0;
        margin: 56px 0 97px;
    }
    .about__text-inner{
        display: flex;
        flex-direction: column-reverse;
    }
    .about__text--hidden{
        display: none;
    }
    .about__text-lato,
    .about__slider-desc,
    .about__text,
    .about__text-list,
    .professors__text,
    .professors__list-header,
    .professors__list{
        font-size: size(small);
        line-height: line(base);
    }
    .about__img-wrap{
        flex-direction: column;
        margin: 0 0 24px;
    }
    .about__img-wrap picture:last-of-type{
        margin-top: 16px;
    }
    .professors{
        margin-bottom: 56px;
    }
    .professors__title{
        margin-bottom: 24px;
    }
    .professors__img{
        margin-bottom: 32px;
    }
    .professors__faculty{
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;

        &-card{
            width: 163px;
        }
    }
    .professors__card-subtitle{
        font-size: size(base);
        line-height: line(small);
    }
    .professors__list{
        margin-bottom: 16px;
        
        &-header{
            margin-top: 16px;
        }
    }
    .quote{
        grid-template-columns: 1fr;
        grid-template-areas: "quote__wrap";
        margin-bottom: 67px;
        overflow-x: hidden;
    }
    .quote__inner{
        flex-direction: column-reverse;
        padding: 22px 0 20px;
    }
    .quote__desc{
        padding: 50px 32px 0;

        &::before {
            content: url(../assets/upper_quote-mobile.png);
            top: -10px;
            left: 10px;
        }
        &::after {
            content: url(../assets/lower_quote-mobile.png);
        }
    }
    .quote__author-img{
        width: 253px;
        height: 327px;
        margin-right: 0;        
    }
    .qoute__text{
        font-size: size(regular);
        line-height: line(regular);
        margin-bottom: 48px;
    }
    .quote__author{
        font-size: size(regular);
        line-height: line(small);

        &-position{
            font-size: size(base);
            line-height: line(base-second);
        }
    }
    .meeting__title {
        margin-bottom: 24px;
    }
    .meeting__img-desc{
        font-size: size(small);
        line-height: line(base);
    }
    .meeting__img img{
        display: none;
    }
    .meeting__img {
        grid-template-columns: 1fr;
    }
    /*About page styles end*/

    /*Gallery page styles start*/
    .gallery__header {
        min-height: 617px;
        background: #181342;
        background-image: url(../assets/gallery_header-photos-mobile.png), url(../assets/gallery_cross-big-mobile.svg), url(../assets/gallery_cross-middle-mobile.svg), url(../assets/gallery_cross-small-mobile.svg);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: center center, left 33%, right 13%, 30.8411111111% bottom;
        background-size: contain, auto, auto, auto;
        padding: 50px;
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
    .gallery__title{
        font-size: 32px;
        line-height: 33px;
        margin-top: 178px;
    }
    .gallery__images{
        display: grid;
        grid-auto-rows: auto;
    }
    .gallery__wrap:nth-of-type(6){
        grid-row: 2;
    }
    .gallery__wrap:nth-of-type(11){
        grid-row: 3;
    }
    .gallery__wrap:nth-of-type(16){
        grid-row: 4;
    }
    .gallery__wrap:nth-of-type(7){
        grid-row: 6;
    }
    .gallery__wrap:nth-of-type(12){
        grid-row: 7;
    }
    .gallery__wrap:nth-of-type(17){
        grid-row: 8;
    }
    .gallery__wrap:nth-of-type(8){
        grid-row: 10;
    }
    .gallery__wrap:nth-of-type(13){
        grid-row: 11;
    }
    .gallery__wrap:nth-of-type(18){
        grid-row: 12;
    }
    /*Gallery page styles end*/


    .cost__inner{
        padding: 32px 0 0;
    }
    .cost__title{
        font-size: size(large);
        line-height: line(medium);
        margin-bottom: 24px;
    }
    .cost__btn{
        padding: 16px 22.5px;
        margin-bottom: 24px;
    }
    .cost__table{
        margin-bottom: 16px;
        font-size: size(base);
        line-height: line(small);
    }
    .cost__text{
        font-weight: weight(light);
        font-size: size(regular);
        line-height: line(regular);
    }
    .cost__table-column span{
        display: none;
    }
    .payment__title{
        font-size: size(large);
        line-height: line(medium);
    }
    .payment__list{
        margin-top: 16px;
    }
    .payment__body{
        padding: 24px 16px 40px;
    }
    .payment__sum-label{
        margin-right: 25px;
    }
    .payment__form-btns{
        flex-direction: column;
    }
    .payment__btn{
        padding: 20px 108px;
        margin-right: 0;
    }
    .liqpay__link{
        margin-top: 16px;
        align-self: flex-start;
    }

    /*Timetable page styles start*/
    .course__title{
        font-size: size(regular);
        line-height: line(base-second);
    }
    .accordion__link span{
        display: none;
    }
    .calendar__date span{
        display: none;
    }
    .timetable__inner{
        padding-top: 32px;
    }
    .timetable__title{
        margin: 0 0 24px;
        font-size: size(large);
        line-height: line(large);
    }
    .timetable__wrap {
        padding: 0 24px 0 16px;
    }
    .timetable__group{
        margin-top: 24px;
    }
    .timetable__info{
        margin-bottom: 24px;
    }
    .timetable__speaker {
        text-align: left;
    }
    .timetable__table{
        display: none;
    }
    .timetable__table--mobile{
        display: block;
    }
    .timetable__tab{
        width: 100%;
        background: $table-bg;
        border-collapse: collapse;
        margin-bottom: 16px;
    }
    .table__tab-list{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .table__tab-item{
        width: 100%;
        background: #F9F9F9;
        border: 1px solid $border-light;
        border-radius: 8px 8px 0px 0px;
        padding: 13px 16px;
        font-weight: weight(bold);
    }
    .timetable__tab-body{
        line-height: line(base-second);
    }
    .timetable__tab-column:first-child{
        width: 99px;
    } 
    .timetable__tab-body .timetable__tab-column{
        border: 1px solid $table-border;
        padding: 13px 8px 13px 16px;
        text-align: left;
        border-left: none;
    }
    .timetable__tab-row:first-of-type .timetable__tab-column{
        border-top: none;
    }
    .timetable__tab-column:last-child{
        border-right: none;
    }
    .ui-tabs-active{
        border-bottom: none;
    }
    .ui-tabs-active .table__tab-link{
        color: $primary-color;
    }
    /*Timetable page styles end*/
}