$primary-color: #4F478F;
$accent-color: #4D4680;
$base-color: #232040;
$text-color: rgba(0, 0, 0, 0.86);
$white: #FFFFFF;

$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "black": 900
);