/*Modal form styles start*/
dialog::backdrop{
    background: rgba(9, 3, 19, 0.65);
    /* backdrop-filter: blur(3px); */
}

.modal{
    position: fixed;
    top: 192px;
    left: 50%;
    transform: translateX(-50%);
}

.modal__holder{
    max-width: 572px;
    width: 100%;
    background: url(../assets/illustration_cross.png) no-repeat;
    background-position: left top;
    background-color: $bg-light;
    border-radius: 8px;
    padding: 40px 100px 48px;
    position: relative;
}

.modal__title{
    text-align: center;
    margin-bottom: 24px;
}

.modal__close{
    border: none;
    background: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.modal__entry{
    font-family: $font-family-secondary;
    font-weight: weight(regular);
    font-size: size(base);
    line-height: line(small);
    text-align: right;
    margin-bottom: 24px;
    
    &-link{
        font-weight: weight(medium);
        color: $primary-color;
    }
}

.modal__input{
    font-family: $font-family-base;
    border: 1px solid $input-border;
    margin-bottom: 24px;
    
    &-wrap{
        margin-bottom: 24px;
    }
}

.modal__label{
    font-family: $font-family-base;
}

.password{
    margin-bottom: 32px;
}

.modal__btn{
    width: 100%;
    padding: 20px;
}
/*Modal form styles end*/