/*Modal form styles start*/
dialog::backdrop{
    background: rgba(9, 3, 19, 0.65);
    /* backdrop-filter: blur(3px); */
}

.modal{
    position: fixed;
    top: 192px;
    left: 50%;
    transform: translateX(-50%);
}

.modal__holder{
    max-width: 572px;
    width: 100%;
    background: url(../assets/illustration_cross.png) no-repeat;
    background-position: left top;
    background-color: #FAFAFA;
    border-radius: 8px;
    padding: 40px 100px 48px;
    position: relative;
}

.modal__title{
    text-align: center;
    margin-bottom: 24px;
}

.modal__close{
    border: none;
    background: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.modal__entry{
    font-family: 'Montserrat', sans-serif;
    font-weight: map-get($font-weights, regular);
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 24px;
    
    &-link{
        font-weight: map-get($font-weights, medium);
        color: #4F478F;
    }
}

.modal__input{
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #C4C4C4;
    margin-bottom: 24px;
    
    &-wrap{
        margin-bottom: 24px;
    }
}

.modal__label{
    font-family: 'Open Sans', sans-serif;
}

.password{
    margin-bottom: 32px;
}

.modal__btn{
    width: 100%;
    padding: 20px;
}
/*Modal form styles end*/