/*Pagination styles start*/
.pagination{
    display: flex;
    justify-content: center;
    
    &__list{
        display: flex;
    }
}

.page__item{
    width: 32px;
    height: 32px;
    background: $text-color-lighter;
    border: 1px solid $article-border;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:not(:last-child){
        margin-right: 8px;
    }
    
    &--disabled{
        background: $article-border;
    }
    
    &--active{
        background: $primary-color;
    }
}

.page__link{
    font-family: $font-family-secondary;
    font-weight: weight(regular);
    font-size: size(base);
    line-height: line(light);
    color: $primary-color;
    display: flex;
    
    &--active{
        color: $light;
    }
}
/*Pagination styles end*/