*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em; /*16px / 16*/
    line-height: 1.4375; /*23px / 16px*/
    color: #4F4F4F;
}

.wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.75rem; /*28px / 16*/
    line-height: 1.3214286; /*37px / 28px*/
    color: #333333;
    margin-bottom: 0.96428571em; /*27px / 28px*/
}

.subtitle, 
.link{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px; /*16px / 16*/
    line-height: 21px; /*21px / 16px*/
    color: #00ADEE;
    text-decoration: none;
    margin-bottom: 1.6875em; /*27px / 16px*/
}

.logo{
}
.logo__link {
}
.logo__img {
}

.store__link:first-of-type{
    text-decoration: none;
    margin-right: 3.214285714285714%; /*36px / 1120px * 100%*/
}
/*Header styles start*/
.header{
    background: url(../assets/header_bg.png) #F4F6F9 no-repeat;
    background-position: center right;
}

.header__inner{
    padding: 5.4464286% 0 14.642857%; /*61px / 1120px * 100% - 164px / 1120px * 100%*/
}

.header__logo{
    margin-bottom: 11.875%; /*133px / 1120px * 100%*/
}

.header__info{
    max-width: 546px;
}

.header__title{
    font-size: 2.25rem; /*36px / 16*/
    line-height: 1.3333333333; /*48px / 36px*/
    letter-spacing: 0.03em;
    color: #333333;
    margin-bottom: 30px;
}

.header__desc{
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.444444444; /*26px / 18px*/
    margin-bottom: 50px;
}
/*Header styles end*/

/*Main styles start*/
.main {
}

/*What it does styles start*/
.what-it-does{
    position: relative;
}

.what-it-does::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(../assets/what-it-does_bg.png) no-repeat;
    width: 50%;
}

.what-it-does__inner{
    display: flex;
    justify-content: flex-end;
    padding: 11.875% 0 10.4464%; /*133px / 1120px * 100% - 117px / 1120px * 100%*/
}

.what-it-does__img{
    position: absolute;
}

.what-it-does__score{
    position: relative;
    top: 60px;
    left: -93px;
    z-index: 1;
}

.what-it-does__video{
    position: relative;
    left: -360px;
    top: 180px;
}

.what-it-does__info{
    max-width: 426px;
}
  
.what-it-does__title {
}

.what-it-does__text{
    margin-bottom: 22px;
}
.what-it-does__link{

}
/*What it does styles end*/

/*Get started styles start*/
.get-started{
    background: url(../assets/get-started_bg.png) no-repeat;
    background-position: center right;
}

.get-started__inner{
    padding: 19.375% 0 15.267857%; /*217px / 1120px * 100% - 171px / 1120px * 100%*/
}

.get-started__info{
    max-width: 480px;
}

.get-started__title {
}

.get-started__text:first-of-type{
    margin-bottom: 22px;
}

.get-started__text:last-of-type{
    margin-bottom: 4.82142857%; /*54px / 1120px * 100%*/
}

.get-started__link {
}

.get-started__img{
    display: none;
}
/*Get started styles end*/

/*Features styles start*/
.features{
    background: url(../assets/features_bg.png) no-repeat;
    background-position: center;
}

.features__inner{
    padding: 6.785714285714286% 0 5.892857142857142%; /*76px / 1120px * 100% - 66px / 1120px * 100%*/
}

.features__title{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 54px;
}
.features__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 31px;
}

.features__card {
}
.features__card-text{
    color: #FFFFFF;
}
/*Features styles end*/

/*Feedback styles start*/
.feedback{
}

.feedback__inner{
    padding: 5.535714285714286% 0 5.089285714285714%; /*62px / 1120px * 100% - 57px / 1120px * 100%*/
}

.feedback__title{
    text-align: center;
    margin-bottom: 63px;
}

.feedback__slider{
    display: grid;
}

.feedback__cards{
    position: relative;
    display: flex;
    margin-bottom: 47px;
}

.feedback__cards::before{
    content: url(../assets/slider_arrow-left.png);
    position: absolute;
    top:35%;
    left: 7.083333333333333%; /*102px / 1440px * 100%*/
    z-index: 1;
}

.feedback__cards::after{
    content: url(../assets/slider_arrow-right.png);
    position: absolute;
    top: 35%;
    right: 7.083333333333333%;
}

.feedback__card{
    position: relative;
    max-width: 309px;
    background: #FFFFFF;
    border: 1px solid #828282;
    border-radius: 4px;
    margin-right: 35px;
    padding: 20px 13px 20px 17px;
}

.feedback__card::after{
    content: url(../assets/twitter.svg);
    position: absolute;
    top: 20px;
    right: 13px;
}

.feedback__card:first-child::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 20%, #FFFFFF);
}

.feedback__card:last-child::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0.5) 126.7%);
}

.feedback__card-img{
    margin-right: 11px;
}

.feedback__card-author{
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px; /*16px / 16*/
    line-height: 19px; /*19px / 16px*/
    color: #333333;
    margin-bottom: 23px;
}

.feedback__card-text{
    font-size: 14px; /*14px / 16*/
    line-height: 18px; /*18px / 14px*/
}

.slider__dots{
    justify-self: center;
}

.feedback__slider-mobile{
    display: none
}
/*Feedback styles end*/

/*Slider styles start*/
.channels{
    background: #FAFAFA;
}

.channels__inner{
    padding: 5.357142857142857% 0 5.803571428571429%; /*60px / 1120px * 100% - 65px / 1120px * 100%*/
}

.chanels__title{
    text-align: center;
    margin-bottom: 58px;
}

.channels__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.channel__link{
    text-decoration: none;
}

.channel__link:not(:last-child){
    margin-right: 7.053571428571429%; /*79px / 1120px * 100%*/
}

.channel__img {
}
/*Slider styles end*/

/*Score styles start*/
.score{
    background: url(../assets/score_bg.png) no-repeat;
    background-position: center left;
}

.score__inner{
    display: flex;
    justify-content: flex-end;
    padding: 9.642857142857144% 0 8.75%; /*108px / 1120px * 100% - 98px / 1120px * 100%*/
}

.score__img{
    display: none;
}

.score__info{
    max-width: 535px;
}

.score__title{
    margin-bottom: 35px;
}

.score__desc{
    line-height: 25px;
    margin-bottom: 38px;
}
/*Score styles end*/
/*Main styles end*/

/*Footer styles start*/
.footer{
    background: #00ADEE;
}

.footer__inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 4.553571428571428% 0; /*51px / 1120px * 100%*/
}

.footer__nav{

}
.footer__list{
    list-style: none;
    display: flex;
}

.footer__item:not(:last-child){
    padding-right: 10.277777777777777%; /*37px / 360px * 100%*/
}

.footer__link{
    text-decoration: none;
    color: #FFFFFF;
}

.footer__socials{
    justify-self: right;
    align-self: end;
}

.social__list{
    list-style: none;
    display: flex;
}

.social__item:not(:last-child){
    padding-right: 17px;
}

.social__link {
}
.social__img {
}
/*Footer styles end*/

@media (max-width: 720px){
    body{
        text-align: justify;
    }
}

@media (max-width: 360px){
    body{
        text-align: center;
    }

    .header{
        background-image: none;
    }

    .header__title{
        font-size: 1.875rem; /*30px / 16*/
        line-height: 1.3333333333; /*40px / 30px*/
    }

    .what-it-does::before{
        background: none;
    }

    .what-it-does__wrap{
        display: grid;
    }

    .get-started{
        background: none;
    }

    .get-started__img{
        display: block;
    }

    .features{
        background: #FAFAFA;
    }

    .features__title{
        color: #333333;
    }

    .features__cards{
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 50px;
    }
    .features__card-text{
        color: #4F4F4F;
    }

    .feedback__slider{
        display: none;
    }

    .feedback__slider-mobile{
        display: block;
    }

    .feedback__cards-mobile{
        position: relative;
    }
    .feedback__cards-mobile::after{
        content: url(../assets/slider_arrow-right.png);
        position: absolute;
        top: 35%;
        right: -6.944444444444445%; /*25px / 360px * 100%*/
    }

    .feedback__card-mobile{
        position: relative;
        max-width: 309px;
        background: #FFFFFF;
        border: 1px solid #828282;
        border-radius: 4px;
        text-align: left;
        padding: 20px 13px 20px 17px;
    }
    
    .feedback__card-mobile::after{
        content: url(../assets/twitter.svg);
        position: absolute;
        top: 20px;
        right: 13px;
    }

    .channel__link:last-child{
        margin: 0 auto;
    }

    .score{
        background: none;
    }

    .score__inner{
        display: block;
    }
    .score__img{
        display: block;
    }

    .footer__inner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: start;
    }
    .footer__item:not(:last-child){
        padding-right: 5.277777777777778%; /*19px / 360px * 100%*/
    }

    .footer__socials{
        grid-row: 2;
        justify-self: start;
    }
}