*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em; /*16px / 16*/
    line-height: 1.4375; /*23px / 16px*/
    color: #4F4F4F;
}

.wrapper{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 20px;
}

.title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.75rem; /*28px / 16*/
    line-height: 1.3214286; /*37px / 28px*/
    color: #333333;
    margin-bottom: 0.96428571em; /*27px / 28px*/
}

.subtitle, 
.link{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px; /*16px / 16*/
    line-height: 21px; /*21px / 16px*/
    color: #00ADEE;
    text-decoration: none;
    margin-bottom: 1.6875em; /*27px / 16px*/
}

.store__link:first-of-type{
    text-decoration: none;
    margin-right: 3.214285714285714%; /*36px / 1120px * 100%*/
}

/*Header styles start*/
.header{
    background: url(../assets/header_bg.png) #F4F6F9 no-repeat;
    background-position: center right;
    background-size: contain;
}

.header__inner{
    padding: 5.4464286% 0 14.642857%; /*61px / 1120px * 100% - 164px / 1120px * 100%*/
}

.header__logo{
    margin-bottom: 11.875%; /*133px / 1120px * 100%*/
}

.header__info{
    width: 37.916666666666664%; /*546px / 1440px*/
}

.header__title{
    font-size: 2.25rem; /*36px / 16*/
    line-height: 1.3333333333; /*48px / 36px*/
    letter-spacing: 0.03em;
    color: #333333;
    margin-bottom: 30px;
}

.header__desc{
    font-size: 1.125em; /*18px / 16*/
    line-height: 1.444444444; /*26px / 18px*/
    margin-bottom: 50px;
}
/*Header styles end*/

/*Main styles start*/
/*What it does styles start*/
.what-it-does{
    position: relative;
}

.what-it-does__inner-img{
    position: relative;
}

.what-it-does__inner-img::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
    width: 100%;
}
.what-it-does__bg{
    width: 100%; /*805px / 1440px*/
}

.what-it-does__inner{
    padding: 9.23611111111111% 0 8.125%; /*133px / 1440px * 100% - 117px / 1440px * 100%*/
}

.what-it-does__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.what-it-does__img{
    position: absolute;
    top: 3.7267080745341614%; /*30px / 805px * 100%*/
    left: 20.248447204968944%; /*163px / 805px * 100%*/
}

.what-it-does__score{
    width: 57.018633540372676%; /*459px / 805px*/
    position: relative;
    top: 60px;
    left: -93px;
    z-index: 1;
}

.what-it-does__video{
    width: 44.72049689440994%; /*360px / 805px*/
    position: relative;
    left: 90px;
    top: -40px;
}

.what-it-does__info{
    width: 70%; /*426px / 1440px*/
}

.what-it-does__text{
    margin-bottom: 22px;
}
/*What it does styles end*/

/*Get started styles start*/
.get-started{
    background: url(../assets/get-started_bg.png) no-repeat;
    background-position: center right;
}

.get-started__inner{
    padding: 19.375% 0 15.267857%; /*217px / 1120px * 100% - 171px / 1120px * 100%*/
}

.get-started__info{
    width: 33.33333333333333%; /*480px / 1440px*/
}

.get-started__text:first-of-type{
    margin-bottom: 22px;
}

.get-started__text:last-of-type{
    margin-bottom: 4.82142857%; /*54px / 1120px * 100%*/
}

.get-started__img{
    display: none;
}
/*Get started styles end*/

/*Features styles start*/
.features{
    background: url(../assets/features_bg.png) no-repeat;
    background-position: center;
}

.features__inner{
    padding: 6.785714285714286% 0 5.892857142857142%; /*76px / 1120px * 100% - 66px / 1120px * 100%*/
}

.features__title{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 54px;
}
.features__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 31px;
}

.features__card-text{
    color: #FFFFFF;
}
/*Features styles end*/

/*Feedback slider styles start*/
.feedback__inner{
    padding: 5.535714285714286% 0 5.089285714285714%; /*62px / 1120px * 100% - 57px / 1120px * 100%*/
}

.feedback__title{
    text-align: center;
    margin-bottom: 63px;
}

.feedback__slider{
    display: grid;
}

.feedback__cards{
    position: relative;
    display: flex;
    margin-bottom: 47px;
}

.feedback__cards::before{
    content: url(../assets/slider_arrow-left.png);
    position: absolute;
    top:35%;
    left: 7.083333333333333%; /*102px / 1440px * 100%*/
    z-index: 1;
}

.feedback__cards::after{
    content: url(../assets/slider_arrow-right.png);
    position: absolute;
    top: 35%;
    right: 7.083333333333333%;
}

.feedback__card{
    position: relative;
    max-width: 309px;
    background: #FFFFFF;
    border: 1px solid #828282;
    border-radius: 4px;
    margin-right: 35px;
    padding: 20px 13px 20px 17px;
}

.feedback__card::after{
    content: url(../assets/twitter.svg);
    position: absolute;
    top: 20px;
    right: 13px;
}

.feedback__card:first-child::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 20%, #FFFFFF);
}

.feedback__card:last-child::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0.5) 126.7%);
}

.feedback__card-img{
    margin-right: 11px;
}

.feedback__card-author{
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px; /*16px / 16*/
    line-height: 19px; /*19px / 16px*/
    color: #333333;
    margin-bottom: 23px;
}

.feedback__card-text{
    font-size: 14px; /*14px / 16*/
    line-height: 18px; /*18px / 14px*/
}

.slider__dots{
    justify-self: center;
}

.feedback__slider-mobile{
    display: none
}
/*Feedback slider styles end*/

/*Channels styles start*/
.channels{
    background: #FAFAFA;
}

.channels__inner{
    padding: 5.357142857142857% 0 5.803571428571429%; /*60px / 1120px * 100% - 65px / 1120px * 100%*/
}

.chanels__title{
    text-align: center;
    margin-bottom: 58px;
}

.channels__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.channel__link{
    text-decoration: none;
}

.channel__link:not(:last-child){
    /* margin-right: 7.053571428571429%; 79px / 1120px * 100% */
}
/*Channels styles end*/

/*Score styles start*/
.score{
    max-width: 1440px;
    /* background: url(../assets/score_bg.png) no-repeat;
    background-position: center left; */
}

.score__inner{
    /* display: flex;
    justify-content: flex-end; */
    /* padding: 9.642857142857144% 0 8.75%;*/ /*108px / 1120px * 100% - 98px / 1120px * 100% */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.score__info{
    width: 70%; /*535px / 1440px*/
}

.score__title{
    margin-bottom: 35px;
}

.score__desc{
    line-height: 25px;
    margin-bottom: 38px;
}
/*Score styles end*/
/*Main styles end*/

/*Footer styles start*/
.footer{
    background: #00ADEE;
}

.footer__inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 4.553571428571428% 0; /*51px / 1120px * 100%*/
}
.logo-footer{
    color: #FFFFFF;
}

.footer__list{
    list-style: none;
    display: flex;
}

.footer__item:not(:last-child){
    padding-right: 10.277777777777777%; /*37px / 360px * 100%*/
}

.footer__link{
    text-decoration: none;
    color: #FFFFFF;
}

.footer__socials{
    justify-self: right;
    align-self: end;
}

.social__list{
    list-style: none;
    display: flex;
}

.social__item:not(:last-child){
    padding-right: 17px;
}
/*Footer styles end*/

/*Media 1220px styles start*/
@media (max-width: 1220px){
    .header{
        background-size: 65%; /*936px / 1440px*/
        object-fit: contain;
        background-repeat: no-repeat;
    }

    .header__logo{
        margin-bottom: 5.875%;
    }

    .header__inner{
        padding: 2% 0 5%;
    }

    .what-it-does__info{
        width: 100%;
    }

    .score__info{
        width: 100%;
        padding-right: 20px;
    }

    .score__img{
        width: 100%;
    }

    .what-it-does{
        padding-right: 20px;
    }

    .get-started{
        background-size: 100%;
        object-fit: contain;
        background-repeat: no-repeat;
    }

    .feedback__card:nth-child(2){
        display: none;
    }
}
/*Media 1220px styles end*/

/*Media 1100px styles start*/
@media (max-width: 1100px){
    .what-it-does__video{
        left: 60px;
        top: -20px;
    }
}
/*Media 1100px styles end*/

/*Media 935px styles start*/
@media (max-width: 935px){
    .header{
        background-image: none;
    }
    .header__info{
        width: 100%;
    }

    .what-it-does__score{
        top: 40px;
        left: -60px;
    }

    .get-started__inner{
        padding: 5.375% 0 5.267857%;
    }
}
/*Media 935px styles end*/

/*Media 825px styles start*/
@media (max-width: 825px){
    .what-it-does{
        padding: 0 20px;
    }
    .what-it-does__wrap{
        grid-template-columns: 1fr;
    }
    .what-it-does__inner{
        grid-row: 1;
        padding: 0;
    }
     .what-it-does__info{
        padding: 54px 0 22px;
        width: 100%;
    }
    .what-it-does__bg{
        width: 100%;
    }
    .what-it-does__img{
        top: -10px;
        left: 90px;
    }
    .what-it-does__inner-img::before{
        background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
    }
    .what-it-does__score{
        top: 60px;
        left: -93px;
    }
    .what-it-does__video{
        left: 90px;
        top: -40px;
    }

    .get-started{
        background: none;
    }
    .get-started__inner{
        padding: 7.515151515151515% 0 3.878787878787879%; /*62px / 825px * 100% - 32px / 825px * 100%*/
    }
    .get-started__info{
        width: 100%;
    }
    .get-started__img{
        display: block;
        margin: 0 auto;
    }

    .features__cards{
        column-gap: 50px;
    }

    .score__inner{
        grid-template-columns: 1fr;
    }
    .score__info{
        width: 100%;
        grid-row: 1;
        padding: 19px 20px 46px;
    }
    .score__img{
        width: 100%;
    }
}
/*Media 825px styles end*/

/*Media 760px styles start*/
@media (max-width: 760px){
    body{
        text-align: justify;
    }
    
    .header__title{
        font-size: 1.875rem; /*30px / 16*/
        line-height: 1.3333333333; /*40px / 30px*/
    }

    .features{
        background: #FAFAFA;
    }
    .features__icon{
        fill: #00ADEE;
    }
    .features__title{
        color: #333333;
    }
    .features__cards{
        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 50px;
    }
    .features__card-text{
        color: #4F4F4F;
    }
    
    .feedback__inner{
        padding: 50px 0 71px;
    }
    .feedback__slider{
        display: none;
    }
    .feedback__slider-mobile{
        display: block;
        display: flex;
        text-align: center;
    }
    .feedback__cards-mobile{
        max-width: 309px;
        position: relative;
        margin-bottom: 33px;
    }
    .feedback__cards-mobile::after{
        content: url(../assets/slider_arrow-right.png);
        position: absolute;
        top: 35%;
        right: -6.944444444444445%; /*25px / 360px * 100%*/
    }
    .feedback__card-mobile{
        position: relative;
        max-width: 309px;
        background: #FFFFFF;
        border: 1px solid #828282;
        border-radius: 4px;
        text-align: left;
        padding: 20px 13px 20px 17px;
    }
    .feedback__card-mobile::after{
        content: url(../assets/twitter.svg);
        position: absolute;
        top: 20px;
        right: 13px;
    }

    .channel__link:last-child{
        margin: 0 auto;
    }

    .footer__inner{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: start;
    }
    .footer__item:not(:last-child){
        padding-right: 5.277777777777778%; /*19px / 360px * 100%*/
    }
    .footer__socials{
        grid-row: 2;
        justify-self: start;
    }
}
/*Media 760px styles end*/

/*Media 635px styles start*/
@media (max-width: 635px){
    .what-it-does__score{
        top: 50px;
        left: -50px;
    }
}
/*Media 635px styles end*/

/*Media 530px styles start*/
@media (max-width: 530px){
    .what-it-does__video{
        left: 70px;
        top: -20px;
    }
}
/*Media 530px styles end*/

/*Media 460px styles start*/
@media (max-width: 460px){
    .what-it-does__score{
        top: 45px;
        left: -50px;
    }
    .what-it-does__video{
        left: 40px;
        top: 0px;
    }
}
/*Media 460px styles end*/

/*Media 390px styles start*/
@media (max-width: 390px){
    .what-it-does__score{
        top: 50px;
        left: -60px;
    }
    .what-it-does__video{
        left: 50px;
        top: -5px;
    }

    .get-started__img{
        max-width: 320px;
    }
}
/*Media 390px styles end*/

/*Media 360px styles start*/
@media (max-width: 360px){
    body{
        text-align: center;
    }

    .what-it-does__video{
        display: none;
    }
    .what-it-does__score{
        width: 100%;
        top: 60px;
        left: -60px; 
    }
    .what-it-does__inner-img::before{
        background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
        transform: rotate(-90deg);
        width: 110%;
    }
}
/*Media 360px styles end*/