/*Timetable page styles start*/
.timetable{

    &__inner{
        padding-top: 48px;
    }
    
    &__title{
        font-weight: weight(bold);
        font-size: size(title-lg);
        line-height: line(title-lg);
        margin-bottom: 32px;
        text-align: center;
    }
}

.timetable__table--mobile{
    display: none;
}

.timetable__course:not(:last-child){
    margin-bottom: 48px;
}

.course__header{
    background: $primary-color;
    border-radius: 8px 8px 0px 0px;
    padding: 12px 0;
}

.course__title{
    font-size: size(medium-flexible);
    line-height: line(title-thin);
    color: $text-color-lighter;
    text-align: center;
}

.timetable__wrap{
    padding: 0 24px;
}

.timetable__accordion{
    background: $light;
    border: 1px solid $accordion-color;
    border-radius: 0px 0px 8px 8px;
}

.accordion__item:not(:first-child){
    border-top: 1px solid $accordion-color;
}

.accordion__header{
    transition: all 0.4s ease-in-out;
    
    &-inner{
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
    }
}
.accordion__button{
    font-family: $font-family-base;
    font-style: normal;
    font-weight: weight(semi-bold);
    font-size: size(regular);
    line-height: line(base-second);
    color: $text-color;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    svg{
        margin-right: 12px;
        transition: all 0.4s ease-in-out;
    }
}
.accordion__header--active .accordion__button svg{
    transform: rotate(90deg);
    transition: all 0.4s ease-in-out;
}
.accordion__header--active .accordion__arrow{
    fill: $primary-color;
}
.accordion__link{
    font-family: $font-family-lato;
    font-weight: weight(regular);
    line-height: line(base-second);
    color: $text-color;
    display: flex;
    align-items: center;
}

.accordion__img{
    padding-left: 8px;
}

.accordion__body{
    margin: 16px 0 48px;
    display: none;
    overflow: hidden;
}

.timetable__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.timetable__calendar{
    background: $light;
    border: 1px solid $border-light;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.calendar__img{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.calendar__date{
    @extend %type-style-list;
    color: $text-accent;
    margin-right: 16px;
}

.calendar__arrow-left{
    width: 32px;
    height: 32px;
}
.calendar__arrow-right{
    width: 32px;
    height: 32px;
}

.timetable__group-list{
    display: flex;
}

.timetable__group-item{
    background: $light;
    box-shadow: inset -1px 0px 0px $accordion-color, inset 0px 1px 0px $accordion-color, inset 0px -1px 0px $accordion-color;
    padding: 5px 16px;
    
    &:first-child{
        border-radius: 4px 0px 0px 4px;
    }
    
    &:last-child{
        border-radius: 0px 4px 4px 0px;
    }
    
    &--active{
        border: 1px solid $primary-color;
    }
}

.timetable__table{
    width: 100%;
    background: $table-bg;
    border-collapse: collapse;
    margin-bottom: 16px;
    
    &-head,
    &-body{
        line-height: 22px;
    }
}

.timetable__table-head .timetable__table-column{
    text-align: left;
    font-weight: weight(semi-bold);
    padding: 13px 8px 13px 16px;
}

.timetable__table-body .timetable__table-column{
    border: 1px solid $table-border;
    padding: 13px 8px 13px 16px;
    text-align: left;
    border-left: none;
}

.timetable__speaker{
    text-align: right;
}
/*Timetable page styles end*/